.PackageWrap{
    display: inline-block;
    position: relative;
    width: 100%;
    
}
.PackageYolo{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid;
    font-size: 20px;
}

.Package-Container{
    display: flex;
    flex-direction: column;
    border: none;
}

#InputPackage{
    width: 89px;
    height: 23px;
   border: none;
   color:  #A0A0A0;
}

.calendarElement{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    border: 1px solid #ccc;
    z-index: 999;
} 

.rdrDateDisplay{
    display: none !important;
}

.rdrMonthName{
    display: none !important;
}

.Hero-Home-Search-Btn-Container{
    display: grid;
    place-items: center;
    border: 1px solid;
}

.Hero-Home-Search-Btn{
    display: grid;
    place-items: center;
    width: 323px;
    height: 39px;
    flex-shrink: 0;
    background-color: #CBB26A;
    border: none;
    border-radius: 20px;
}